.footer-section {
  text-align: center;
}

.footer-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #e47b25;
}

.footer-contact li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #444;
}

.footer-contact a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.footer-icon {
  color: #e47b25;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}
.footer-address {
  white-space: nowrap;
}

.line-break {
  display: inline;
}

/* Show line break only on mobile */
@media (max-width: 576px) {
  .line-break {
    display: block;
  }
}

@media (max-width: 576px) {
  .footer-address {
    font-size: 16px;
    white-space: nowrap;
  }
}
