/* .footer-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #e47b25;
}

.footer-contact {
  list-style: none;
}

.footer-contact li {
  display: flex;
  margin-bottom: 12px;
  line-height: 1.6;
}

.footer-icon {
  margin-right: 10px;
  color: #f8c146;
  margin-top: 5px;
}

.footer-contact a {
  color: black;
  text-decoration: none;
}

.footer-image {
  max-width: 100%;
  height: auto;
} */


.footer-section {
  /* background-color: #f9f9f9; */
  text-align: center;
}

.footer-title {
 font-size: 2.5rem;
  font-weight: 800;
  color: #e47b25;
}

.footer-contact li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #444;
}

.footer-contact a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.footer-icon {
  color: #e47b25;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}
.footer-address{
  white-space: nowrap;
  
}
