.footer-section {

  color: #333;
}

.footer-logo {
  height: 250px;
  width: auto;

}

.footer-brand {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.footer-title {
 font-size: 2.5rem;
  font-weight: 800;
  color: #e47b25;
}

.footer-contact li {
  margin-bottom: 10px;

}

.footer-contact a {
  text-decoration: none;
  color: #333;
}

.footer-contact a:hover {
  color: #e47b25;
}

.footer-icon {
  margin-right: 8px;
  color: #e47b25;
}

.footer-address {
  line-height: 1.6;
 
}

.footer-bottom {
  font-size: 0.85rem;
  color: #666;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 576px) {
  .footer-logo {
    height: 50px;
  }

  .footer-brand {
    font-size: 1rem;
    text-align: center;
  }

  .footer-title {
    font-size: 1.1rem;
    text-align: center;
  }



  .line-break {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .footer-logo {
    height: 80px;
    margin-bottom: 10px;
  }

  .footer-brand {
    font-size: 1rem;
    text-align: center;
  }

  .footer-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .footer-contact {
    text-align: center;
  }

  .footer-address {
    text-align: center;
  }

  .line-break {
    display: block;
  }
}
